
           

<div class="main-content">
        <router-outlet></router-outlet>
  <div *ngIf="checkRoute()" class="container-fluid">
        <div class="row">
                
                
                <div class="col-md-6"></div>
                <div *ngIf="checkRoute()" class="col-md-3"> <a routerLink="AddApprovedFamilies" class="btn btn-info btn-block">{{ 'family.generateReports' | translate }}</a></div>
                <div *ngIf="checkRoute()" class="col-md-3"> <a routerLink="AddApprovedFamilies" class="btn btn-info btn-block">{{ 'family.add' | translate }}</a></div>
            </div>
            
        <div class="row">
                <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                    
                </div>
            </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title "><h3>{{ 'family.view_approved_families_of_the_area' | translate }}</h3></h4>
                      
                  </div>
                  <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <input (keyup)="onKey($event)" matInput placeholder="Search By Name/Id" value="">
                    </mat-form-field>
                    
                    <div *ngIf="showTable" class="table-responsive">
                        <table class="table table-hover table-bordered">
                            
                              
                            <tr>
                                <th rowspan = 3><b>{{ 'family.village_id' | translate }}</b></th>
                                <th rowspan = 3><b>{{ 'family.Identity_number' | translate }}</b></th>
                                <th rowspan = 3><b>{{ 'family.Name_of_wife' | translate }}</b></th>
                                <th rowspan = 3><b>{{ 'family.Name_of_husband' | translate }}</b></th>
                                <th rowspan = 3><b>{{ 'family.Address' | translate }}</b></th> 
                                <th rowspan = 3><b>{{ 'family.Age_at_the_time_of_marriage' | translate }}</b></th> 
                                <th rowspan = 3><b>{{ 'family.Job_status' | translate }}</b></th> 
                                <th rowspan = 3><b>{{ 'family.Number_of_living_children' | translate }}</b></th> 
                                </tr>

                               
                                <tbody>

                                    <tr *ngFor="let family of families" (click)="onClickMe(family.Identity_number)" style="cursor:pointer">
                                        <td align="center">{{family.village_id}}</td>
                                        <td>{{family.Identity_number}}</td>
                                        <td>{{family.Name_of_wife}}</td>
                                        <td>{{family.Name_of_husband}}</td>
                                        <td>{{family.Address}}</td>
                                        <td align="center">{{family.Age_at_the_time_of_marriage}}</td>
                                        <td>{{family.Job_status}}</td>
                                        <td align="center">{{family.Number_of_living_children}}</td>
                                    
                                    </tr>
                            </tbody>
                           
                        </table>
                  


                  </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="card card-plain">
            
              </div>
          </div>
      </div>
  </div>
</div>
</div>