<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title"> {{'weightHeight.add'| translate}} </h4>
                   
                </div>
                <div class="card-body">
                    <form [formGroup]="WeightHeightForm" [hidden]="success" (ngSubmit)="onSubmit()">
                        
                        <div class="row">
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{'weightHeight.baby_id'| translate}}" type="text" formControlName="baby_id">
                                  <div *ngIf="submitted && WeightHeightForm.controls.baby_id.errors" class="error">
                                      <div *ngIf="WeightHeightForm.controls.baby_id.errors.required">This field is required</div>
                                    </div>
                                </mat-form-field>
                          </div>
                          <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{'weightHeight.childs_name'| translate}}" type="text" formControlName="name_of_child">
                                  <div *ngIf="submitted && WeightHeightForm.controls.name_of_child.errors" class="error">
                                      <div *ngIf="WeightHeightForm.controls.name_of_child.errors.required">This field is required</div>
                                    </div>
                                </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.sex'| translate}}" type="text" formControlName="sex">
                                <div *ngIf="submitted && WeightHeightForm.controls.sex.errors" class="error">
                                    <div *ngIf="WeightHeightForm.controls.sex.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                          </div>
                        </div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <h5>{{'weightHeight.birth_details'| translate}}</h5>
                              </mat-panel-title>
                              <mat-panel-description>
                                Click to View/Edit
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{'weightHeight.date_of_birth'| translate}}" type="date" formControlName="Date_of_birth">
                                  <div *ngIf="submitted && WeightHeightForm.controls.Date_of_birth.errors" class="error">
                                      <div *ngIf="WeightHeightForm.controls.Date_of_birth.errors.required">This field is required</div>
                                    </div>
                                </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.bathch_no'| translate}}" type="text" formControlName="batch_no">
                                <div *ngIf="submitted && WeightHeightForm.controls.batch_no.errors" class="error">
                                    <div *ngIf="WeightHeightForm.controls.batch_no.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                        </div>
                          
                        </div>
                       
                        <div class="row">
                          <div class="col-md-4">{{'weightHeight.atBirth'| translate}}</div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.weight'| translate}}" type="number" formControlName="weight_of_birth" min="0" max="10">
                                <div *ngIf="submitted && WeightHeightForm.controls.weight_of_birth.errors" class="error">
                                    <div *ngIf="WeightHeightForm.controls.weight_of_birth.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.height'| translate}}" type="number" formControlName="height_of_birth" min="0">
                                <div *ngIf="submitted && WeightHeightForm.controls.height_of_birth.errors" class="error">
                                    <div *ngIf="WeightHeightForm.controls.height_of_birth.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <label>{{'weightHeight.otherDetails'| translate}}</label>
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="" formControlName="other_details" ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h5>{{'weightHeight.weighttable'| translate}}</h5>
                        </mat-panel-title>
                        <mat-panel-description>
                          Click to View/Edit
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                        <div class="wight_field">
                            <!--start field-->
                            <h3>{{'weightHeight.weighttable'| translate}}</h3>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">{{'weightHeight.firstYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.secondYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.thirdYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fourthYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fifthYear'| translate}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.ageofMonth'| translate}}</div>
                                <div class="col-md-10">{{'weightHeight.weightFromKG'| translate}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.firstMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearone" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearone" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearone" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearone" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearone" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.secondMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yeartwo" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yeartwo" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yeartwo" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yeartwo" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yeartwo" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.thirdMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearthree" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearthree" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearthree" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearthree" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearthree" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.fourthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearfour" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearfour" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearfour" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearfour" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearfour" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.fifthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearfive" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearfive" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearfive" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearfive" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearfive" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.sisthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearsix" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearsix" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearsix" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearsix" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearsix" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.seventhMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearseven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearseven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearseven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearseven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearseven" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.eighthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yeareight" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yeareight" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yeareight" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yeareight" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yeareight" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.ninethMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearnine" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearnine" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearnine" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearnine" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearnine" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.tenthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yearten" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yearten" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yearten" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yearten" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yearten" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.eleventhMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yeareleven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yeareleven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yeareleven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yeareleven" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yeareleven" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.twelthMonth'| translate}}</div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="first_yeartwelve" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="sec_yeartwelve" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="third_yeartwelve" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="four_yeartwelve" min="0">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "number" formControlName="five_yeartwelve" min="0">
                                      </mat-form-field>
                                </div>
                            </div>
                            <!--end field-->
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h5>{{'weightHeight.heightTable'| translate}}</h5>
                        </mat-panel-title>
                        <mat-panel-description>
                          Click to View/Edit
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                        <div class="height_field">
                            <!--start height field-->
                            <h3>{{'weightHeight.heightTable'| translate}}</h3>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">{{'weightHeight.firstYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.secondYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.thirdYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fourthYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fifthYear'| translate}}</div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{'weightHeight.date'| translate}}</div>
                                <div class="col-md-2">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "date" formControlName="oneyeardate">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "date" formControlName="twoyeardate">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "date" formControlName="threeyeardate">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "date" formControlName="foueyeardate">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type= "date" formControlName="fiveyeardate">
                                      </mat-form-field>
                                </div>

                            </div>
                            
                            <div class="row">
                                    <div class="col-md-2">{{'weightHeight.heightOrLength'| translate}}</div>
                                    <div class="col-md-2">
                                         <mat-form-field class="example-full-width">
                                            <input matInput placeholder="" type= "number" formControlName="oneyearheight" min="0">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                         <mat-form-field class="example-full-width">
                                            <input matInput placeholder="" type= "number" formControlName="twoyearheight" min="0">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                         <mat-form-field class="example-full-width">
                                            <input matInput placeholder="" type= "number" formControlName="threeyearheight" min="0">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                         <mat-form-field class="example-full-width">
                                            <input matInput placeholder="" type= "number" formControlName="foueyearheight" min="0">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                         <mat-form-field class="example-full-width">
                                            <input matInput placeholder="" type= "number" formControlName="fiveyearheight" min="0">
                                          </mat-form-field>
                                    </div>
                            </div>
                            <!--end height field-->
                        </div>
                    </mat-expansion-panel>
                       <input type="submit" value="{{'enter'| translate }}" class="btn btn-danger pull-right">

                     </form>
                     <div *ngIf="success"><h1>You submitted a record</h1></div>
                 </div>
              </div>
         </div>
      </div>
  </div>
  
                
