<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-3" ><button (click)="saveToPdf()" class="btn btn-info btn-block">Export As PDF</button></div>
        <div class="row" id="element-to-export">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div style="text-align:center">
                            
                            <canvas id="lineChart" height="200px"></canvas>
                        
                        </div>
                    </div>
            </div>
        </div>
        
    </div>
</div>
</div>