
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">{{ 'motherBabyJoined.fill' | translate }}</h4>
                </div>
                <div class="card-body">   
                    <form [formGroup]="addmotherbabyForm" (ngSubmit)="onSubmit()" [hidden]="success">
                       
                        <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.mother_id' | translate }}" type= "text" formControlName="mother_id">
                                        <div *ngIf="submitted && addmotherbabyForm.controls.mother_id.errors" class="error">
                                            <div *ngIf="addmotherbabyForm.controls.mother_id.errors.required">This field is required</div>
                                          </div>
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder=" {{ 'motherBabyJoined.baby_id' | translate}} " type= "text" formControlName="baby_id">
                                    <div *ngIf="submitted && addmotherbabyForm.controls.baby_id.errors" class="error">
                                        <div *ngIf="addmotherbabyForm.controls.baby_id.errors.required">This field is required</div>
                                      </div>
                                </mat-form-field>
                        </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{ 'motherBabyJoined.child_name' | translate }}" type= "text" formControlName="child_name">
                                    <div *ngIf="submitted && addmotherbabyForm.controls.child_name.errors" class="error">
                                        <div *ngIf="addmotherbabyForm.controls.child_name.errors.required">This field is required</div>
                                      </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <h5>{{ 'motherBabyJoined.registration_details' | translate }}</h5>
                              </mat-panel-title>
                              <mat-panel-description>
                                Click to View/Edit
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{ 'motherBabyJoined.mothers_name' | translate }}" type= "text" formControlName="mothers_name">
                                    <div *ngIf="submitted && addmotherbabyForm.controls.mothers_name.errors" class="error">
                                        <div *ngIf="addmotherbabyForm.controls.mothers_name.errors.required">This field is required</div>
                                      </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.address' | translate }}" type= "text" formControlName="address">
                                        <div *ngIf="submitted && addmotherbabyForm.controls.address.errors" class="error">
                                            <div *ngIf="addmotherbabyForm.controls.address.errors.required">This field is required</div>
                                          </div>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.sex' | translate }}" type= "text" formControlName="sex">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.sex.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.sex.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                            
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            
                                            <input matInput placeholder="{{ 'motherBabyJoined.date_of_birth' | translate }}" type= "date" formControlName="date_of_birth">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.date_of_birth.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.date_of_birth.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.birth_weight' | translate }}" type= "number" formControlName="birth_weight" min="0" max="6">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.birth_weight.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.birth_weight.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.registration_date' | translate }}" type= "date" formControlName="registration_date">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.registration_date.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.registration_date.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.registration_category' | translate }}" type= "text" formControlName="registration_category">
                                            <!-- <div *ngIf="submitted && addmotherbabyForm.controls.registration_category.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.registration_category.errors.required">This field is required</div>
                                              </div> -->
                                        </mat-form-field>
                                </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{ 'motherBabyJoined.immunization__Details' | translate }}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__BGC' | translate }}" type= "date" formControlName="immunization__BGC">
                                        </mat-form-field>
                                </div>  
                        </div>
                        <div class="row">
                                <div class="col-md-4">      
                                <div class="form-check">
                                    <label class="form-check-label">
                                            <label>{{ 'motherBabyJoined.immunization__scar' | translate }}</label>
                                        <input class="form-check-input" type="checkbox" value="true" formControlName="immunization__scar" >
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                </div>
                        </div>
                        <label> {{ 'motherBabyJoined.immunization__pentavalent' | translate }}</label>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__pentavalent__first' | translate }}" type= "date" formControlName="immunization__pentavalent__first">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__pentavalent__second' | translate }}" type= "date" formControlName="immunization__pentavalent__second">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__pentavalent__third' | translate }}" type= "date" formControlName="immunization__pentavalent__third">
                                        </mat-form-field>
                                </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{ 'motherBabyJoined.immunization__polio__opv__fipv' | translate }}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio__opv__first' | translate }}" type= "date" formControlName="immunization__polio__opv__first">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio__opv__second' | translate }}" type= "date" formControlName="immunization__polio__opv__second">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio__opv__third' | translate }}" type= "date" formControlName="immunization__polio__opv__third">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio__fipv__two_m' | translate }}" type= "date" formControlName="immunization__polio__fipv__two_m">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio__fipv__foru_m' | translate }}" type= "date" formControlName="immunization__polio__fipv__foru_m">
                                        </mat-form-field>
                                </div>
                        </div>
                       
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{ 'motherBabyJoined.vitamin_a_mega_dose' | translate }}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__postnatal_mothers' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__postnatal_mothers">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_sixth_month' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_sixth_month">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_first_year' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_first_year">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_one_and_half_yr' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_one_and_half_yr">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_two' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_two">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_two _and_half' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_two_and_half">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_three' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_three">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_three_and_half' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_three_and_half">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_four' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_four">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_four_and_half' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_four_and_half">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_nine' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_nine">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.vitamin_a_mega_dose__at_year_twelve' | translate }}" type= "date" formControlName="vitamin_a_mega_dose__at_year_twelve">
                                        </mat-form-field>
                                </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{ 'motherBabyJoined.other__vaccines' | translate }}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__japanese_encephalitis' | translate }}" type= "date" formControlName="immunization__japanese_encephalitis">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__measles_mumps_rubella_mmr_1' | translate }}" type= "date" formControlName="immunization__measles_mumps_rubella_mmr_1">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__diptheria_pertusis_tetanus_4' | translate }}" type= "date" formControlName="immunization__diptheria_pertusis_tetanus_4">
                                    </mat-form-field>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__polio_4' | translate }}" type= "date" formControlName="immunization__polio_4">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__measles_mumps_rubella_mmr_2' | translate }}" type= "date" formControlName="immunization__measles_mumps_rubella_mmr_2">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__diptheria_tetanus_5' | translate }}" type= "date" formControlName="immunization__diptheria_tetanus_5">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motherBabyJoined.immunization__diptheria_tetanus_6' | translate }}" type= "date" formControlName="immunization__diptheria_tetanus_6">
                                    </mat-form-field>
                            </div>
                    </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="{{ 'motherBabyJoined.remarks' | translate }}" type= "text" formControlName="remarks">
                                        </mat-form-field>
                                </div>
                        </div>
                    </mat-expansion-panel>
                        <input type="submit" value="{{ 'enter' | translate }}" class="btn btn-info pull-right">
                    </form>
                    <div *ngIf="success"><h5>You submitted a new baby record successfully</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
