<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
    </div>
    <div class="card-body">
        <form>
            <div> &nbsp;&nbsp; </div>
            <div> &nbsp;&nbsp; </div>
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Clinic Title" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Scheduled Date" type="date">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Priority" type="text">
                    </mat-form-field>
                  </div>
            </div>
            
           
            <div class="row">
                <div class="col-md-12">
                  <label>Description</label>
                  <mat-form-field class="example-full-width">
                     <textarea matInput placeholder="Enter Clinic Description"></textarea>
                   </mat-form-field>
                  <div> &nbsp;&nbsp; </div>
                  <div> &nbsp;&nbsp; </div>
                  
                 
               </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>