
<div class="main-content">
    <router-outlet></router-outlet>
<div class="container-fluid">
    <div class="row">
            
            <div class="col-md-4"></div>
            <div class="col-md-2"><h3></h3></div>
            <div class="col-md-3"> <a routerLink="AddMotherBabyJoined" class="btn btn-info btn-block">{{'motherBabyJoined.fill'| translate }}</a></div>
            <div class="col-md-3">
                <button class="btn btn-info btn-block" mat-button [matMenuTriggerFor]="menu">{{ 'family.generateReports' | translate }}</button>
                <mat-menu #menu="matMenu">
        
                    <a mat-menu-item [matMenuTriggerFor]="ViewImmunizationReport">Immunization Reports</a>
                    </mat-menu>
                    <mat-menu #ViewImmunizationReport="matMenu">
                      <a mat-menu-item routerLink="ViewImmunizationReport/2020" >2020</a>
                      <a mat-menu-item routerLink="ViewImmunizationReport/2019">2019</a>
                      <a mat-menu-item routerLink="ViewImmunizationReport/2018">2018</a>
                  </mat-menu>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                    <h4 class="card-title "><h3>{{ 'motherBabyJoined.view_babies' | translate }}</h3></h4>
                    <h5 class="card-category">Click to view the individual Records</h5>
                </div>

                  <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <input (keyup)="onKey($event)" matInput placeholder="Search By Mother Id/ Baby's Name/Mother's Id" value="">
                    </mat-form-field>
                    <div *ngIf="showTable" class="table-responsive">
                        <table class="table table-hover table-bordered">
                            
                                <tr>
                                    <th align="center" rowspan=4><b>{{ 'motherBabyJoined.mother_id' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.child_name' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.mothers_name' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.address' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.sex' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.date_of_birth' | translate }}</b></th>  <th align="center" rowspan=4><b>{{ 'motherBabyJoined.birth_weight' | translate }}</b></th> 
                                </tr>
                                <tbody>
                                <tr *ngFor="let motherbabyjoineddata of motherbabyjoineddatas" (click)="onClickMe(motherbabyjoineddata.baby_id)" style="cursor:pointer">
                                    <td>{{motherbabyjoineddata.mother_id}}</td>
                                    <td>{{motherbabyjoineddata.child_name}}</td>
                                    <td>{{motherbabyjoineddata.mothers_name}}</td>
                                    <td>{{motherbabyjoineddata.address}}</td>
                                    <td align="center">{{motherbabyjoineddata.sex}}</td>
                                    <td>{{motherbabyjoineddata.date_of_birth | date: 'yyyy/MM/dd' }}</td>
                                    <td align="center">{{motherbabyjoineddata.birth_weight}}</td>
                                   
                                    
                                    </tr>
                                </tbody>
                        </table>
                    </div>

                  </div>
          </div>
      </div>
  
  </div>
</div>
</div>