<div class="main-content">
    <router-outlet></router-outlet>
<div class="container-fluid">
    <div class="row">
            
            <div class="col-md-4"></div>
            <div class="col-md-5"><h3></h3></div>
            <div class="col-md-3"> <a routerLink="AddMotherBabyJoined" class="btn btn-info btn-block">Add a new Baby</a></div>
        </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                    <h4 class="card-title "><h3>View Babies of the Area</h3></h4>
                    <h5 class="card-category">Click to view the individual Records</h5>
                </div>

                  <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <input (keyup)="onKey($event)" matInput placeholder="Search By Mother Id/ Baby's Name/Mother's Id" value="">
                    </mat-form-field>
                    <div *ngIf="showTable" class="table-responsive">
                        <table class="table table-hover table-bordered">
                            
                                <tr>
                                    <th align="center" rowspan=4><b>Mother No</b></th>  <th align="center" rowspan=4><b>Name of the Child</b></th>  <th align="center" rowspan=4><b>Mothers Name</b></th>  <th align="center" rowspan=4><b>Address</b></th>  <th align="center" rowspan=4><b>Sex</b></th>  <th align="center" rowspan=4><b>Date of Birth</b></th>  <th align="center" rowspan=4><b>Birth Weight</b></th> 
                                </tr>
                                <tbody>
                                <tr *ngFor="let motherbabyjoineddata of motherbabyjoineddatas" (click)="onClickMe(motherbabyjoineddata.baby_id)" style="cursor:pointer">
                                    <td>{{motherbabyjoineddata.mother_id}}</td>
                                    <td>{{motherbabyjoineddata.child_name}}</td>
                                    <td>{{motherbabyjoineddata.mothers_name}}</td>
                                    <td>{{motherbabyjoineddata.address}}</td>
                                    <td align="center">{{motherbabyjoineddata.sex}}</td>
                                    <td>{{motherbabyjoineddata.date_of_birth | date: 'yyyy/MM/dd' }}</td>
                                    <td align="center">{{motherbabyjoineddata.birth_weight}}</td>
                                   
                                    
                                    </tr>
                                </tbody>
                        </table>
                    </div>

                  </div>
          </div>
      </div>
  
  </div>
</div>
</div>