<div class="main-content">
  <div class="container-fluid">
     
    
      <div class="row">
          <div class="col-md-12">
            <div class="col-md-3" ><button (click)="saveToPdf()" class="btn btn-info btn-block">Export As PDF</button></div>
              <div class="card" id="element-to-export">
                <div class="card-header">
                    <h4 class="card-title "><h3>Contraceptive Methods</h3></h4>
                    
                </div>
                  <div class="card-body">
                      <div style="text-align:center">
                          
                          <canvas id="BarChart" height="200px"></canvas>
                      
                      </div>
                  </div>
          </div>
      </div>
      
  </div>
</div>
</div>