<div class="main-content">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-3" ><a routerLink="AddPregnancyForm" class="btn btn-info btn-block">Add New Pregnant Mother</a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title "><h3>View Pregnant Mother details</h3></h4>
                <h5 class="card-category">Click to view the individual Records</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <tbody>
                      <tr>
                         
                          <td colspan=8 align="center" ><b>Registration Details</b> </td>
                          <td colspan=16 align="center" ><b>Personal Details</b> </td> 
                          </tr>
                          
                          <tr>
                          <td rowspan = 2  ><b>Mother ID</b></td>
                          <td rowspan = 2  ><b>Registration Number</b></td>
                          <td rowspan = 2  ><b>Registration Date</b></td>
                          <td rowspan = 2  ><b>Registration Place</b></td>
                          <td rowspan = 2  ><b>Registered Date According To The Approved Family Document</b></td>
                          <td rowspan = 2  ><b>Grama Niladari Division</b></td>
                          <td rowspan = 2  ><b>PHM Division</b></td>
                          <td rowspan = 2  ><b>PHI Division</b></td>

                          <td rowspan = 2  ><b>Mother Name</b></td>
                          <td rowspan = 2  ><b>Mother Age</b></td>
                          <td rowspan = 2  ><b>Husband Name</b></td>
                          <td rowspan = 2  ><b>Husband Age</b></td>
                          <td rowspan = 2  ><b>Mother's Education Level</b></td>
                          <td rowspan = 2  ><b>Husband's Education Level</b></td>
                          <td rowspan = 2  ><b>Mother's Occupation</b></td>
                          <td rowspan = 2  ><b>Father's Occupation</b></td>
                          <td rowspan = 2  ><b>Address</b></td>
                          <td rowspan = 2  ><b>Telephone</b></td>
                          <td rowspan = 2  ><b>Distance To Mothers Workplace</b></td>
                          <td rowspan = 2  ><b>Mother's Age At Marriage</b></td>
                          <td rowspan = 2  ><b>Maiden</b></td>
                          <td rowspan = 2 ><b>Risked</b></td>
                          <td rowspan = 2  ><b>Blood Group</b></td>
                          <td rowspan = 2  ><b>Identified Maternal Risks Diseases</b></td>
                          </tr>

                          <tr *ngFor="let pdoc of pdoc" (click)="onClickMe(pdoc.mother_id)" style="cursor:pointer">
                            <td>{{pdoc.mother_id}}</td>
                            <td>{{pdoc.registration_number}}</td>
                            <td>{{pdoc.registration_date | date: 'yyyy/MM/dd'}}</td>
                            <td>{{pdoc.registered_place}}</td>
                            <td>{{pdoc.registered_date_according_to_the_approved_family_document}}</td>
                            <td>{{pdoc.grama_niladari_division}}</td>
                            <td>{{pdoc.phm_devision}}</td>
                            <td>{{pdoc.phi_devision}}</td>
   
                            <td>{{pdoc.mothers_name}}</td>
                            <td>{{pdoc.mothers_age}}</td>
                            <td>{{pdoc.husband_name}}</td>
                            <td>{{pdoc.husband_age}}</td>
                            <td>{{pdoc.mothers_education_level}}</td>
                            <td>{{pdoc.husbands_education_level}}</td>
                            <td>{{pdoc.mothers_occupation}}</td>
                            <td>{{pdoc.fathers_occupation}}</td>
                            <td>{{pdoc.address}}</td>
                            <td>{{pdoc.telephone}}</td>
                            <td>{{pdoc.distance_to_mothers_workplace}}</td>
                            <td>{{pdoc.mothers_age_at_marriage}}</td>
                            <td><div *ngIf="pdoc.maiden_or_risked"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">yes</i></div> <div *ngIf="!pdoc.maiden_or_risked">no</div></td>
                            <td><div *ngIf="pdoc.maiden_or_risked"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">yes</i></div> <div *ngIf="!pdoc.maiden_or_risked">no</div></td>
                            <td>{{pdoc.blood_group}}</td>
                            <td>{{pdoc.identified_maternal_risks_diseases}}</td>
                          </tr>
                          
                    </tbody>
                    </table>
            


                  </div>
          </div>
      </div>
      <div class="col-md-12"></div>
          <div class="card card-plain">
            
              </div>
          </div>
      </div>
      </div>
