
<html lang="en">

<head>


</head>

<body>
  <div class="main-div">
    <mat-card>

      <mat-card-header>

        <div mat-card-avatar class="logo-image"></div>
        <mat-card-title>Register PHM</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <div class="container">
          <form [formGroup]="regPHMform"(ngSubmit)="onSubmit()">
              <mat-form-field>
                <mat-label>Area Id</mat-label>
                <mat-select formControlName="areaId">
                  <mat-option *ngFor="let areaId of areaIds" [value]="areaId">
                    {{areaId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="User Id" type="text" formControlName="userid">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" type="text" formControlName="username">
              </mat-form-field>
              <div class="row">
                <div class="col-md-10">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="{{passwordType}}" formControlName="password">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <i class="material-icons" (click)="showPassword()">remove_red_eye</i>
                  </div>
            </div>
              
              <button mat-raised-button color="primary" [disabled]="!regPHMform.valid" type="submit">Register</button>

          </form>
     </div>
    </mat-card>
  </div>

</body>

</html>