
<div class="main-content">
  <router-outlet></router-outlet>
 

  <div class="row">
    <div class="col-md-3" ><a routerLink="addMother" class="btn btn-info btn-block">{{'mother.form'| translate }}</a></div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <button class="btn btn-info btn-block" mat-button [matMenuTriggerFor]="menu">{{ 'family.generateReports' | translate }}</button>
      <mat-menu #menu="matMenu">
        
        <a mat-menu-item [matMenuTriggerFor]="viewPregnantReport">Pregnancy Weeks Of Registration</a>
        <a mat-menu-item [matMenuTriggerFor]="ViewDeliveryReport">Deliveries And Postpartum Visits</a>
        
        </mat-menu>
        <mat-menu #viewPregnantReport="matMenu">
          <a mat-menu-item routerLink="viewPregnantReport/2020" >2020</a>
          <a mat-menu-item routerLink="viewPregnantReport/2019">2019</a>
          <a mat-menu-item routerLink="viewPregnantReport/2018">2018</a>
      </mat-menu>

      <mat-menu #ViewDeliveryReport="matMenu">
        <a mat-menu-item routerLink="ViewDeliveryReport/2020" >2020</a>
        <a mat-menu-item routerLink="ViewDeliveryReport/2019">2019</a>
        <a mat-menu-item routerLink="ViewDeliveryReport/2018">2018</a>
    </mat-menu>
  </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title "><h3>{{ 'mother.mothers' | translate }}</h3></h4> 
                <h5 class="card-category">{{ 'click_individual' | translate }}</h5>
            </div>
            <div class="card-body">
              <mat-form-field class="example-full-width">
                <input (keyup)="onKey($event)" matInput placeholder="Search By Name/Id" value="">
              </mat-form-field>
              <div *ngIf="showTable" class="table-responsive">
                  <table class="table table-hover table-bordered">
                      
                          
                              <tr>
                              <th rowspan = 2><b>{{ 'mother.mother_id' | translate }}</b></th>
                              <th rowspan = 2><b>{{ 'mother.mothers_name' | translate }}</b></th>
                              <th rowspan = 2><b>{{ 'mother.address' | translate }}</b></th>
                              <th rowspan = 2><b>{{ 'mother.age' | translate }}</b></th>
                              <th rowspan = 2><b>{{ 'mother.no_of_living_children' | translate }}</b></th>
                              <th colspan=2 align="center">{{ 'mother.risk_conditions' | translate }}</th>
                              
                              </tr>

                              <tr>  
                                <th><b>{{ 'mother.risk_conditions_low' | translate }}</b></th>
                                <th><b>{{ 'mother.risk_conditions_high' | translate }}</b></th>
                              </tr>
                              <tbody>
                              <tr *ngFor="let mother of mother" (click)="onClickMe(mother.mother_id)" style="cursor:pointer">
                                <td>{{mother.mother_id}}</td>
                                <td>{{mother.mothers_name}}</td>
                                <td>{{mother.address}}</td>
                                <td align="center">{{mother.age}}</td>
                                <td align="center">{{mother.no_of_living_children}}</td>
                                <td align="center"><div  *ngIf="!mother.risk_conditions"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">done</i></div></td>
                                <td align="center"><div  *ngIf="mother.risk_conditions"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">done</i></div></td>
                                
                              </tr>
                      </tbody>
                     
                  </table>
            


            </div>
    </div>
</div>
<div class="col-md-12"></div>
    <div class="card card-plain">
      
        </div>
    </div>
</div>
</div>