<div class="main-content">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-3" ><a routerLink="addMother" class="btn btn-info btn-block">Add New Mother</a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title "><h3>View Mother details</h3></h4>
                <h5 class="card-category">Click to view the individual Records</h5>
            </div>
            <div class="card-body">
              <mat-form-field class="example-full-width">
                <input (keyup)="onKey($event)" matInput placeholder="Search By Name/Id" value="">
              </mat-form-field>
              <div *ngIf="showTable" class="table-responsive">
                  <table class="table table-hover table-bordered">
                      
                          
                              <tr>
                              <th rowspan = 2><b>Mother ID</b></th>
                              <th rowspan = 2><b>Name of the Pregnant Mother</b></th>
                              <th rowspan = 2><b>Address</b></th>
                              <th rowspan = 2><b>Age</b></th>
                              <th rowspan = 2><b>No. of Living Children</b></th>
                              <th colspan=2 align="center">Risked Conditions</th>
                              
                              </tr>

                              <tr>  
                                <th><b>Low</b></th>
                                <th><b>High</b></th>
                              </tr>
                              <tbody>
                              <tr *ngFor="let mother of mother" (click)="onClickMe(mother.mother_id)" style="cursor:pointer">
                                <td>{{mother.mother_id}}</td>
                                <td>{{mother.mothers_name}}</td>
                                <td>{{mother.address}}</td>
                                <td align="center">{{mother.age}}</td>
                                <td align="center">{{mother.no_of_living_children}}</td>
                                <td align="center"><div  *ngIf="!mother.risk_conditions"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">done</i></div></td>
                                <td align="center"><div  *ngIf="mother.risk_conditions"><i _ngcontent-rwm-c19="" class="material-icons icon-image-preview">done</i></div></td>
                                
                              </tr>
                      </tbody>
                     
                  </table>
            


            </div>
    </div>
</div>
<div class="col-md-12"></div>
    <div class="card card-plain">
      
        </div>
    </div>
</div>
</div>