<div class="container-fluid">
  <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <mat-slide-toggle  [formControl]="autoRenew" (change)="onChange()">{{'edit'| translate}}</mat-slide-toggle>
        </div>
        <div class="col-md-2">
           <button  (click)="onClickMe()" class="btn btn-info btn-block">{{'weightHeight.viewGraph'| translate}}</button>
        </div> 
        <div class="col-md-12">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">{{'weightHeight.update'| translate}}</h4>
              </div>
              <div class="card-body">   
                <form [formGroup]="addWeightForm" (ngSubmit)="onSubmit()" [hidden]="success">

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.baby_id'| translate}}" type="text"  readonly="{{onChange()}}" formControlName="baby_id">
                                <div *ngIf="addWeightForm.controls.baby_id.errors" class="error">
                                    <div *ngIf="addWeightForm.controls.baby_id.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                        </div>
                    
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.childs_name'| translate}}" type="text" readonly="{{onChange()}}" formControlName="name_of_child">
                                <div *ngIf="addWeightForm.controls.name_of_child.errors" class="error">
                                    <div *ngIf="addWeightForm.controls.name_of_child.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                        </div>
                        <!--
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.sex'| translate}}" type="text" readonly="{{onChange()}}" formControlName="Gender">
                                <div *ngIf="addWeightForm.controls.sex.errors" class="error">
                                    <div *ngIf="addWeightForm.controls.sex.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                          </div> -->
                      </div>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{'weightHeight.birth_details'| translate}}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.date_of_birth'| translate}}" type="date" readonly="{{onChange()}}" formControlName="Date_of_birth">
                                <div *ngIf="addWeightForm.controls.Date_of_birth.errors" class="error">
                                    <div *ngIf="addWeightForm.controls.Date_of_birth.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                        </div>
                        <!--
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'weightHeight.bathch_no'| translate}}" type="text" readonly="{{onChange()}}" formControlName="batch_no">
                                <div *ngIf="addWeightForm.controls.batch_no.errors" class="error">
                                    <div *ngIf="addWeightForm.controls.batch_no.errors.required">This field is required</div>
                                  </div>
                              </mat-form-field>
                        </div> -->
                      </div>
                     
                      <div class="row">
                        <div class="col-md-4">{{'weightHeight.atBirth'| translate}}</div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'weightHeight.weight'| translate}}" type="number" readonly="{{onChange()}}" formControlName="weight_of_birth">
                              <div *ngIf="addWeightForm.controls.weight_of_birth.errors" class="error">
                                  <div *ngIf="addWeightForm.controls.weight_of_birth.errors.required">This field is required</div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'weightHeight.height'| translate}}" type="number" readonly="{{onChange()}}" formControlName="height_of_birth">
                              <div *ngIf="addWeightForm.controls.height_of_birth.errors" class="error">
                                  <div *ngIf="addWeightForm.controls.height_of_birth.errors.required">This field is required</div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <label>{{'weightHeight.otherDetails'| translate}}</label>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="" readonly="{{onChange()}}" formControlName="other_details" ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{'weightHeight.weighttable'| translate}}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                      <div class="wight_field">
                          <!--start field-->
                          
                          <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2">{{'weightHeight.firstYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.secondYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.thirdYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fourthYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fifthYear'| translate}}</div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">{{'weightHeight.ageofMonth'| translate}}</div>
                            <div class="col-md-10">{{'weightHeight.weightFromKG'| translate}}</div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.firstMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearone">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearone">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearone">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearone">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearone">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.secondMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yeartwo">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yeartwo">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yeartwo">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yeartwo">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yeartwo">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.thirdMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearthree">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearthree">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearthree">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearthree">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearthree">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.fourthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearfour">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearfour">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearfour">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearfour">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearfour">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.fifthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearfive">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearfive">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearfive">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearfive">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearfive">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.sisthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearsix">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearsix">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearsix">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearsix">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearsix">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.seventhMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearseven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearseven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearseven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearseven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearseven">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.eighthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yeareight">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yeareight">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yeareight">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yeareight">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yeareight">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.ninethMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearnine">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearnine">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearnine">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearnine">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearnine">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.tenthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yearten">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yearten">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yearten">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yearten">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yearten">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.eleventhMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yeareleven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yeareleven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yeareleven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yeareleven">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yeareleven">
                                    </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.twelthMonth'| translate}}</div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="first_yeartwelve">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="sec_yeartwelve">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="third_yeartwelve">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="four_yeartwelve">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="five_yeartwelve">
                                    </mat-form-field>
                              </div>
                          </div>
                          <!--end field-->
                      </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h5>{{'weightHeight.heightTable'| translate}}</h5>
                          </mat-panel-title>
                          <mat-panel-description>
                            Click to View/Edit
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                      <div class="height_field">
                          <!--start height field-->
                          
                          <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2">{{'weightHeight.firstYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.secondYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.thirdYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fourthYear'| translate}}</div>
                                <div class="col-md-2">{{'weightHeight.fifthYear'| translate}}</div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-2">{{'weightHeight.date'| translate}}</div>
                              <div class="col-md-2">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "date" readonly="{{onChange()}}" formControlName="oneyeardate">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "date" readonly="{{onChange()}}" formControlName="twoyeardate">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "date" readonly="{{onChange()}}" formControlName="threeyeardate">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "date" readonly="{{onChange()}}" formControlName="foueyeardate">
                                    </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="" type= "date" readonly="{{onChange()}}" formControlName="fiveyeardate">
                                    </mat-form-field>
                              </div>

                          </div>
                          
                          <div class="row">
                                  <div class="col-md-2">{{'weightHeight.heightOrLength'| translate}}</div>
                                  <div class="col-md-2">
                                       <mat-form-field class="example-full-width">
                                          <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="oneyearheight">
                                        </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                       <mat-form-field class="example-full-width">
                                          <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="twoyearheight">
                                        </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                       <mat-form-field class="example-full-width">
                                          <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="threeyearheight">
                                        </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                       <mat-form-field class="example-full-width">
                                          <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="foueyearheight">
                                        </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                       <mat-form-field class="example-full-width">
                                          <input matInput placeholder="" type= "number" readonly="{{onChange()}}" formControlName="fiveyearheight">
                                        </mat-form-field>
                                  </div>
                          </div>
                          <!--end height field-->
                      </div>
                      </mat-expansion-panel>
                      <div *ngIf="onHidden()">
                          <input type="submit" value="{{'update'| translate}}" class="btn btn-info pull-right">
                      </div>
                    
              </form>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row"></div>
