
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <mat-slide-toggle  [formControl]="autoRenew" (change)="onChange()">Edit details</mat-slide-toggle>
        </div>
        <div class="col-md-4">
            <button  (click)="goToBabyBook()" class="btn btn-info btn-block">View Baby Book   <i class="material-icons">menu_book</i></button>
         </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title"> Mother and Baby details</h4>
                </div>
                <div class="card-body">   
                    <form [formGroup]="addmotherbabyForm" (ngSubmit)="onSubmit()" [hidden]="success">
                       
                        <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mother Id" type= "text" readonly="{{onChange()}}" formControlName="mother_id">
                                        <div *ngIf="submitted && addmotherbabyForm.controls.mother_id.errors" class="error">
                                            <div *ngIf="addmotherbabyForm.controls.mother_id.errors.required">This field is required</div>
                                          </div>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Child's Name" type= "text" readonly="{{onChange()}}" formControlName="child_name">
                                    <div *ngIf="submitted && addmotherbabyForm.controls.child_name.errors" class="error">
                                        <div *ngIf="addmotherbabyForm.controls.child_name.errors.required">This field is required</div>
                                      </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mother's Nmae" type= "text" readonly="{{onChange()}}" formControlName="mothers_name">
                                    <div *ngIf="submitted && addmotherbabyForm.controls.mothers_name.errors" class="error">
                                        <div *ngIf="addmotherbabyForm.controls.mothers_name.errors.required">This field is required</div>
                                      </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type= "text" readonly="{{onChange()}}" formControlName="address">
                                        <div *ngIf="submitted && addmotherbabyForm.controls.address.errors" class="error">
                                            <div *ngIf="addmotherbabyForm.controls.address.errors.required">This field is required</div>
                                          </div>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Gender" type= "text" readonly="{{onChange()}}" formControlName="sex">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.sex.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.sex.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                            
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            
                                            <input matInput placeholder="Date of Birth" type= "date" readonly="{{onChange()}}" formControlName="date_of_birth">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.date_of_birth.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.date_of_birth.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Birth Weight" type= "number" readonly="{{onChange()}}" formControlName="birth_weight" min="0" max="5">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.birth_weight.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.birth_weight.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Registration Date" type= "date" readonly="{{onChange()}}" formControlName="registration_date">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.registration_date.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.registration_date.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Registration Category" type= "text" readonly="{{onChange()}}" formControlName="registration_category">
                                            <div *ngIf="submitted && addmotherbabyForm.controls.registration_category.errors" class="error">
                                                <div *ngIf="addmotherbabyForm.controls.registration_category.errors.required">This field is required</div>
                                              </div>
                                        </mat-form-field>
                                </div>
                        </div>
                        <label>Immunization</label>
                        <div class="row">
                                <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="BGC" type= "date" readonly="{{onChange()}}" formControlName="immunization__BGC">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                        
                                            <label>Immunization Scars </label>
                                            <br>
                                            <input type= "radio" readonly="{{onChange()}}" formControlName="immunization__scar" value="true">
                                        
                                </div>
                        </div>
                        <label> Immunization Pentavalent</label>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="First" type= "date" readonly="{{onChange()}}" formControlName="immunization__pentavalent__first">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Second" type= "date" readonly="{{onChange()}}" formControlName="immunization__pentavalent__second">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Third" type= "date" readonly="{{onChange()}}" formControlName="immunization__pentavalent__third">
                                        </mat-form-field>
                                </div>
                        </div>
                        <label>Polio opv</label>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="First" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio__opv__first">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Second" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio__opv__second">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Third" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio__opv__third">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Polio fipv two m" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio__fipv__two_m">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Polio fipv foru m" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio__fipv__foru_m">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Japanese Encephalitis" type= "date" readonly="{{onChange()}}" formControlName="immunization__japanese_encephalitis">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Measles Mumps Rubella mmr-1" type= "date" readonly="{{onChange()}}" formControlName="immunization__measles_mumps_rubella_mmr_1">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Diptheria Pertusis Tetanus-4" type= "date" readonly="{{onChange()}}" formControlName="immunization__diptheria_pertusis_tetanus_4">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Polio-4" type= "date" readonly="{{onChange()}}" formControlName="immunization__polio_4">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Measles Mumps Rubella mmr-2" type= "date" readonly="{{onChange()}}" formControlName="immunization__measles_mumps_rubella_mmr_2">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Diptheria Tetanus-5" type= "date" readonly="{{onChange()}}" formControlName="immunization__diptheria_tetanus_5">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Diptheria Tetanus-6" type= "date" readonly="{{onChange()}}" formControlName="immunization__diptheria_tetanus_6">
                                        </mat-form-field>
                                </div>
                        </div>
                        <label>Vitamin-A Megadose</label>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Postnatal mothers" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__postnatal_mothers">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="In sixth month" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_sixth_month">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When one year old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_first_year">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When one and half years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_one_and_half_yr">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When second years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_two">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When two and half years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_two_and_half">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When three years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_three">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When three and half years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_three_and_half">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When four years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_four">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="When four and half years old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_four_and_half">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="At year nine old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_nine">
                                        </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="At year twelve old" type= "date" readonly="{{onChange()}}" formControlName="vitamin_a_mega_dose__at_year_twelve">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="remarks" type= "text" readonly="{{onChange()}}" formControlName="remarks">
                                        </mat-form-field>
                                </div>
                        </div>
                        <div *ngIf="onHidden()">
                            <input type="submit" value="Submit baby details" class="btn btn-info pull-right">
                        </div>
                    </form>
                    <div *ngIf="success"><h5>You submitted a new baby record successfully</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
