<div class="main-content">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-3" ><a routerLink="AddWeightHeight" class="btn btn-info btn-block">Add New Weight Height Form</a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title "><h3>{{ 'weightHeight.view_weight' | translate }}</h3></h4>
                <h5 class="card-category">Click to view the individual Records</h5>
            </div>
            <div class="card-body">
              <mat-form-field class="example-full-width">
                <input (keyup)="onKey($event)" matInput placeholder="Search By Name/Id" value="">
              </mat-form-field>
              <div *ngIf="showTable" class="table-responsive">
                  <table class="table table-hover table-bordered">
                    
                      <tr>
                        <th rowspan = 2><b>{{ 'weightHeight.baby_id' | translate }}</b></th>
                        <th rowspan = 2><b>{{ 'weightHeight.bathch_no' | translate }}</b></th>
                        <th rowspan = 2><b>{{ 'weightHeight.childs_name' | translate }}</b></th>
                        <th rowspan = 2><b>{{ 'weightHeight.sex' | translate }}</b></th>
                        <th rowspan = 2><b>{{ 'weightHeight.date_of_birth' | translate }}</b></th>
                        <th colspan=2 align="center">{{ 'weightHeight.atBirth' | translate }}</th>
                      </tr>

                      <tr>
                          <th><b>{{ 'weightHeight.weight' | translate }}</b></th>
                          <th><b>{{ 'weightHeight.height' | translate }}</b></th>
                      </tr>
                      <tbody>
                      <tr *ngFor="let weight of weights" (click)="onClickMe(weight.baby_id)" style="cursor:pointer">
                          <td>{{weight.baby_id}}</td>
                          <td align="center">{{weight.batch_no}}</td>
                          <td >{{weight.name_of_child}}</td>
                          <td align="center">{{weight.sex}}</td>
                          <td>{{weight.Date_of_birth | date: 'yyyy/MM/dd'}}</td>
                          <td align="center">{{weight.weight_of_birth}}</td>
                          <td align="center">{{weight.height_of_birth}}</td>
                          
                          
                      </tr>
                    </tbody>
                    </table>
            


                </div>
          </div>
         </div>
      <div class="col-md-12"></div>
          <div class="card card-plain">
            
              </div>
      </div>
    </div>
  </div>
