<html lang="en">
    <body>

        <header>
          <div class="view" style="background-image: url('https://i.pinimg.com/originals/de/0f/7a/de0f7a7534928d09fbb639fa98ebacb5.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            
            <div class="mask rgba-black-light align-items-center">
            
              <div class="container" id="middle-allign">
               
                <div class="row">
                 
                  <div class="col-md-12 mb-4 white-text text-center">
                    <h1  class="text-dark" data-wow-delay="0.3s"><strong>eMOH KESBEWA</strong></h1>
                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="text-uppercase mb-4 text-dark wow fadeInDown" data-wow-delay="0.4s"><strong>For a healthier nation that contributes to its economic, social, mental and spiritual development</strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong></strong></h5>
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>contact 011-2289399</strong></h5>
                  </div>

                </div>
               
              </div>
           
            </div>
          
          </div>
      
        </header>
       
        <main>
          <div class="container">
            
            <div class="row py-5">
             
              <div class="col-md-12 text-center">
                <p>The Ministry of Health (MOH) is the pre-eminent Government organization whose mandate is “To ensure the provision of quality health services and to promote healthy lifestyles and environmental practices”. The Ministry, together with its Regional Health Authorities (RHAs), Agencies and related organizations make up the public health system and are responsible for health care delivery across the island.</p>
                <p>Our health vision is: “Healthy People, Healthy Environment”. It is one which envisages a health system that is client-centred and guarantees access to quality health care for every person in our population, at reasonable costs, and which takes into account the needs of the vulnerable among us. It is one which seeks to provide information and to educate the populace, to facilitate individuals taking responsibility for their own health, making informed decisions and adopting healthy lifestyle habits. All this, within a clean, healthy environment where families and communities actively participate and are integrated into the system of health.</p>
                </div>
            
            </div>
          
          </div>
        </main>
    

    </body>
</html>